## Colorado Oil & Gas Drilling Permits
##### Investigating how the number of Drilling permits changed over the past year (June 2016-June 2017)

* Has the new administration had an effect on the permit approval process?
* Has the number of permit requests increased?

In [9]:
from __future__ import division
import pandas as pd
import numpy as np
from datetime import timedelta
import pymc3 as pm
import theano.tensor as tt
import matplotlib.pyplot as plt
import matplotlib as mpl
from pylab import rcParams
%matplotlib inline

#### Data Import

In [12]:
# Import Colorado Oil & Gas Well permits approved 4/11/2012 - 8/28/2017
# http://cogcc.state.co.us/data.html#/cogis
df_wells = pd.read_csv("data/older_well_permits_clean.csv")

df_wells.sample(5)

,Unnamed: 0,facility_id_API,facility_type,status,facility_name,facility_num,field_name,field_num,county,coord,operator_name,operator_num
3510,3510,05-123-31289,WELL,2010-03-11,Garden Creek,05-08H,WILDCAT,99999.0,WELD,123NWNW 8 11N 62W 6,EOG RESOURCES INC,27742
2338,2338,05-067-09087,WELL,2005-11-16,BRYCE,1-X,IGNACIO BLANCO,38300.0,LA PLATA,067SWSW 31 33N 9W 6,SPATTER* NICK,81448
4069,4069,05-123-44647,WELL,2017-04-25,HOMESTEAD,8,WATTENBERG,90750.0,WELD,123NWSE 34 1N 66W 6,VERDAD RESOURCES LLC,10651
1504,1504,05-045-23164,WELL,2016-05-25,Puckett,11C-31,GRAND VALLEY,31290.0,GARFIELD,045NESE 25 6S 97W 6,CAERUS PICEANCE LLC,10456
1360,1360,05-045-13678,WELL,2014-05-12,CHEVRON,1-14D,GRAND VALLEY,31290.0,GARFIELD,045NESE 1 6S 97W 6,BERRY PETROLEUM COMPANY LLC,10091

In [11]:
df_wells.describe()

        Unnamed: 0     field_num   operator_num
count  6259.000000   6247.000000    6259.000000
mean   3129.000000  75401.506963   39985.729030
std    1806.961999  27077.972283   38241.580625
min       0.000000   1950.000000       5.000000
25%    1564.500000           NaN   10350.000000
50%    3129.000000           NaN   10531.000000
75%    4693.500000           NaN   86610.000000
max    6258.000000  99999.000000  200077.000000